body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


#main-content {
	margin-left: auto; 
	margin-right: auto; 
	width:600px;
	padding: 5px;
}

.starter-template {
	padding: 0px 15px;

}

body, html {
  height: 100%;
  width: 100%;
}

.fill {
  height: 100%;
  width: 100%;
}

#googleMap {
  width:600px; 
  height:450px;   
  margin-top: 5px;
  margin-bottom: 10px; 
}